<%- include('./partials/head') %>
<main class="">
    <!--    <section>-->



<!--    gebruk maken van dit zodat je geen foreach loop hoeft te gebruiken-->
<!--    https://developer.mozilla.org/en-US/docs/Web/API/Window/location-->
<!--    https://www.w3schools.com/js/js_window_location.asp-->
    <section class="filter-section">
        <h2>bewaarde huizen</h2>

        <form action="/" method="get" class="zoekvak">
            <label for="city" class="white-text">zoek op plaatsnaam
                <input type="search" name="city" class=""><!--ik zeg nu ga zoeken en als name geef ik mee dat het id is en dat daar op gezocht word-->
            </label>
            <button type="submit" class="submit-searchbutton styling-filterbutton ">zoeken</button>
        </form>
            <p class="">Gebruik de zoekfunctie om de stad op te zoeken let  erop dat alles staat zoals in de database</p>

        <% datahouse.forEach(function(person)

        {
        %>
        <p>gevonden zoekresultaten:</p>
            <ul>


                <li class="">
                    <%= person.id %> id en address: <a href="./person/<%= person.id %>">   naam: <%= person.id %>
                        <%= person.street %>
                        <%= person.house_nr %>
                        <%= person.city %>
                    </a>

                </li>
            </ul>

        <% }); %>

        <label for="filters">kies waar je op wilt filteren:</label>

        <label for="filters"></label><select id="filters">
            <option value="bewaardatum">bewaardatum</option>
            <option value="prijs">prijs</option>
            <option value="adress">adress</option>
            <option value="datum">datum</option>
        </select>
    </section>

<!--        zonder de foreach loop kan je de data niet weergeven omdat dit als json data staat en
 dit tevens ook een array is zodat je jezelf niet steeds hoeft te herhaeln-->
        <% persons.forEach(person => { %>
          <div class="list-houses">
              <ul class="">





<!--                    person is de object met daarin de keys id name en susrname -->

<!--                  <% images.forEach(person => { %>-->
                      <li class="">nummer foto: <img src="https://fdnd-agency.directus.app/assets/<%= person.directus_files_id %>"
                                                     alt=""class="image-size"> dit zijn nu alle fotos</li>
<!--                      <li class="">nummer foto: <img src="https://fdnd-agency.directus.app/assets/<%= person.filteredimagesfirst %>" alt=""class="image-size"> </li>-->

<!--                  <% }) %>-->
              <li><a href="./person/<%= person.street %>"><%= person.street %> <%= person.house_nr%> <%= person.nr_addition%></a></li>
                  <li> <img src="https://fdnd-agency.directus.app/assets/<%= person.filteredimagesfirst %>">foto</li>
                    <li><%= person.postal_code %> <%= person.city %></li>
                    <li><%= person.price %> kk</li>
                    <li><%= person.rooms %> kamers</li>
                    <li><%= person.m2 %> oppperavlakte</li>
                    <li><%= person.m2_garden %> tuin</li>
                    <li><%= person.listed_date %> datum</li>
                    <li><%= person.id %> id</li>
              </ul></div>


        <% }) %>

        </ul>
    </div>

    </div>



</main>
<%- include('./partials/foot') %>
