<%- include('./partials/head') %>
<main class="">
    <a href="/">Back</a>
<!--    / is om terug te gaan naar de homepagina-->
    <section class="">

            <div class="list-houses">
                <ul class="grid-items-house">
                    <li><img class="image-size" src="https://fdnd-agency.directus.app/assets/<%= person.poster_image %>" alt="image house"></li>
                    <li class="item"><a href="./person/<%= person.id %>"><%= person.street%><%= person.house_nr%></a></li>
                    <li class="item"><%= person.postal_code %> <%= person.city %></li>
                    <li  class="item"><%= person.price %> kk</li>
                    <li  class="item"><%= person.posterimage %> afbeelding</li>
                    <li  class="item"><%= person.rooms %> kamers</li>
                    <li  class="item"><%= person.m2 %> oppperavlakte</li>
                    <li  class="item"><%= person.m2_garden %> tuin</li>
                    <li  class="item"><%= person.listed_date %> datum</li>
                    <li  class="item"><%= person.id %> id</li>
                    <li  class="item"><span class="beschrijving">beschirjving</span><%- person.description %> </li>
                </ul>
            </div>

    </section>

<!--    https://fdnd-agency.directus.app/admin/content/f_houses-->

    <section class="send">

        <form method="POST" action="/" class="chatbox">
            <input type="hidden" name="id" value="<%= person.id %>">
            <label for="bericht">notities
                <textarea id="bericht" required name="bericht">
</textarea>
            </label>
            <button type="submit">laat je notite achter</button>

        </form>
        <h2 class="">Hier zie je uw berichten</h2>
        <ul class="output">
            <% messages.forEach(message =>{ %>
                <li><%= message %></li>
            <% }) %>
        </ul>
    </section>


</main>
<%- include('./partials/foot') %>


<!--todo er moet nog een tekst hier komen uw berichten in het midden komen
-->

<!--todo de zoekbutton moet nog gestyled worden-->

