<%- include('./partials/head') %>
<main class="">
    <a href="/">Back</a>
<!--    / is om terug te gaan naar de homepagina-->
    <section class="">
        <div>
            <dl>
                <dt>Naam</dt>
                <!--                    person is de object met daarin de keys id name en susrname -->
                <dd class="name-green"><a href="./person/<%= person.id %>"><%= person.name %></a></dd>
                <dt>Achternaam</dt>
                <dd><%= person.street %></dd>
                <dt>Squad</dt>
                <dd><%= person.squad_id %></dd>
                <dt>Bio</dt>
                <dd><%= person.bio %></dd>
            </dl>
            <img src="<%= (person.avatar == '') ? '/images/placeholder.jpg' : person.avatar %>"
                 onerror="this.src='/images/alternative.jpg'">
        </div>
    </section>
    <section class="send">

        <form method="POST" action="/" class="chatbox">
            <input type="hidden" name="id" value="<%= person.id %>">
            <label for="bericht">stuur je bericht
                <textarea id="bericht" required name="bericht">
</textarea>
            </label>
            <button type="submit">verstuur je bericht</button>

        </form>
        <h2 class="">Hier zie je uw berichten</h2>
        <ul class="output">
            <% messages.forEach(message =>{ %>
                <li><%= message %></li>
            <% }) %>
        </ul>
    </section>


</main>
<%- include('./partials/foot') %>


<!--todo er moet nog een tekst hier komen uw berichten in het midden komen
-->

<!--todo de zoekbutton moet nog gestyled worden-->

