<%- include('./partials/head') %>
<main class="main-searchpage">

    <button>
        <a href="/" class="MPerson styling-filterbutton submit-searchbutton">Back</a>
    </button>
    <form action="/zoeken" method="get" class="space-form-back">
        <label>geef je eigen id op die in de database staat
            <input type="search" name="id" required>
        </label>
        <button type="submit" class="submit-searchbutton styling-filterbutton">Submit</button>
    </form>



    <% datahouse.forEach(function(person)

    {
    %>
    <ul>


        <li class="">student id:
            <%= person.id %> id en address: <a href="./person/<%= person.id %>">   naam: <%= person.id %>
                <%= person.street %>
                <%= person.house_nr %>
            </a>

        </li>
    </ul>

    <% }); %>

    <section class="everyone-show">
        <h2>everyone</h2>
        <ul>
        <% data.forEach(function(person)

        {
        %>



            <li class="space-li-elements">id number: <%= person.id %>

                <%= person.street %>
                <%= person.house_nr %>
            </li>


        <% }); %>
        </ul>
    </section>
</main>
<%- include('./partials/foot') %>